* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode-input {
  background-color: #404040 !important;
  color: #ffffff !important;
}

.dark-mode-input::placeholder {
  color: #ffffff !important; /* Set placeholder text color to white */
}
